@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pacifico-Regular' ;
  src: local("Pacifico-Regular"),
  url("/fonts/Pacifico-Regular.ttf") format("opentype");
}

.pacifico-font { 
  font-family: 'Pacifico-Regular';
}


.dropzone {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

canvas {
  margin-top: 20px;
}

.transform-component-module_wrapper__SPB86 {
  height: 90% !important;
}